/* ----------GOOGLE-FONTS---------- */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
background: rgb(0, 0, 0);
}

/* ----------SHARED-STYLES---------- */
.display-flex {
    display: flex;
}

.heading-text-color {
    color: aliceblue;
    font-size: 4em;
    font-weight: 800;
}

.text-color {
    color: aliceblue;
}

.paragraph-text-color {
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
    color: aliceblue;
    background: #E6533C;
    padding: 0.9em 2.2em;
    border-style: none;
    border-radius: 2em;
    font-size: 1em;
    font-weight: 500;
    margin-top: .8em;
}
/* -------------------------NAVBAR-SECTION-STYLES------------------------- */
.header {
    background: linear-gradient(180.00deg, rgb(56, 55, 55), rgba(82, 78, 78, 0) 100%);
}
.header-container {
    width: 80%;
    margin: 0 auto;
}

.navbar-title .nav-logo {
    font-size: 2em;
    font-style: italic;
    color: #E6533C;;
}

.navbar {
    justify-content: center;
    justify-content: space-between;
    margin: 2em 0;
}
.navbar .navbar-list {
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3.5em;
    border: 1px solid rgba(105, 103, 103, 0.548);
    border-radius: 1.1em;
    padding: .8em .8em 0 0;
}

.navbar .navbar-home {
    border-style: none;
    background: #E6533C;
    border-radius: 1em;
    padding: .8em;

}

.navbar .navbar-list li a {
    /* color: aliceblue; */
    text-decoration: none;
    font-size: 18px;
    font-family: 400;
}

/* ----------HERO-SECTION-STYLE---------- */
.hero {
    display: flex;
    justify-content: space-between;
}
.hero-container .hero-title {
    font-size: 5em;
}

.hero-container {
    width: 50%;
}

.hero-title span {
    font-style: italic;
    font-weight: 400;
}

.hero-description {
    margin-bottom: 2em;
}
/* ---hero-section-button--- */
.hero-container .btn-app {
    color: black;
    margin-left: 1em;
    padding: 0.9em 2.4em;
    border: 1px solid black;
    border-style: none;
    border-radius: 2em;
    font-size: 1em;
    font-weight: 500;
}

.hero-image-box {
    position: relative;
}

.hero-glass-box {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 50%;
    position: absolute;
    bottom: 70px;
    left: -100px;
}

.hero-circel {
    width: 40px;
    height: 40px;
    background: red;
    border: 1px solid red;
    border-radius: 50px;
    margin: 2em auto;
}

.hero-image-box2 {
    position: relative;
}

.hero-glass-box2 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 50%;
    position: absolute;
    top: 120px;
    right: -50px;
}

.hero-circe2 {
    width: 40px;
    height: 40px;
    background: red;
    border: 1px solid red;
    border-radius: 50px;
    margin: 2em auto;
}

.hero-counter2 .glass-title {
    font-size: 1.7em;
}


/* -------------------------NAVBAR-SECTION-STYLES------------------------- */
.main {
    width: 80%;
    margin: 0 auto;
}

.habits-container {
    text-align: center;
    margin-top: 7em;
}

.habits-container .habits-title {
    font-size: 2.5em;
    font-weight: 700;
    /* color: (255, 255, 255, 0.5); */
}

.habits-image {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}

.habits-image-box {
    width: 50%;
    text-align: center;
}

.habits-image .image {
    width: 65%;
    height: 65%;
    border: 1 px solid red;
    border-radius: 10em;
}

.habits-description {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 5em;
}

/* ----------MAIN-RUN-SECTION---------- */

.run-container {
    display: flex;
    background: rgb(38, 38, 38);
    border-radius: .8em;
    padding: 1.5em 1.5em;
    margin-top: 8em;
}

.run-box {
    margin: 5em auto;
}
.run-box .run-title {
    font-size: 2.5em;
    font-weight: 700;
}

.img {
    width: 50%;
    height: 20%;
    background-repeat: no-repeat;
    border-radius: 1em;
}

/* ----------CALCULATOR-BMI-SECTION---------- */

.training-section {
    margin: 8em 0;
}

.trainer-title {
    
}

.exercise-box1 {
    display: grid;
    grid-template-columns: 400px repeat(1, 1fr) 450px;
    margin-top: 3em;
}
.exercise-box2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr) 500px 400px;
}

.exercise-img {
    width: 100%;
    height: 100%;
}


/* ----------CALCULATOR-BMI-SECTION---------- */

.Calculator {
    width: 100%;
    margin-bottom: 4em;
}
.Calculator-content {
    text-align: center;
}

.Calculator-container {
    display: flex;
    justify-content: space-around;
    background: rgb(38, 38, 38);
}

/* -----TABLE-BMI----- */
table {
    border-collapse: collapse;
}

td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1em;
}
th {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1em;
}

.table-row-color {
    color: aliceblue;
}
.form {
    margin-top: 3em;
}

.input {
    padding: .8em 5em .8em .5em;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, .8);
    border-radius: 8px;
    border-style: none;
    margin: .3em;
}

.input-select {
    padding: .8em 12.5em .8em .5em;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border-style: none;
    margin: .3em;
}

.input-select-activity {
    padding: .8em 23.5em .8em .5em;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border-style: none;
    margin: .3em;
}

.input-select .option {
    color: aliceblue;
    background: #353b48;
    border-color: #353b48;
}

.btn-calculator {
    color: aliceblue;
    background: #E6533C;
    padding: .8em 4em;
    border-style: none;
    border-radius: 2em;
    font-size: 1em;
    font-weight: 500;
    margin: 2.5em 0;
}

/* -------------------------TEAM-SECTION-STYLES------------------------- */


.team-section {
    width: 80%;
    margin: 0 auto;
}

.team-section .team-content {
    text-align: center;
    margin: 5em 0;
}

.team {
    background: rgb(38, 38, 38);
    border-radius: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 500px);
}

.team-image-box {
    margin: 2em 1.5em 0 2em;
    position: relative;
}
.team-img {
    width: 100%;
    height: 90%;
    border-radius: 1em;
}


.team-description {
    position: absolute;
    bottom: 4em;
    left: 1em;
}

.image-title {
    font-size: 1.3em;
    font-weight: 800;
}

.image-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
}

/* -------------------------FOOTER-STYLES------------------------- */

.footer {
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(1, 500px) 200px 200px;
    justify-content: space-around;
    padding: 2em;
    margin-top: 5em;
}

.footer-content-one .Footer-title {
    color: rgb(230, 83, 60);
    font-size: 4em;
    font-weight: 700;
    font-style: italic;
}

.footer-content-one .footer-description {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.8em;
}

.footer-content-two .sub-title {
    font-size: 2.1em;
    font-weight: 500;
}

.footer-content-two .sub-description {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
}